
<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>FileHub - login</title>
  <link rel="stylesheet" href="/assets/css/login.css">

</head>
<body>
<div class="wrapper">
	<div class="container">
		<h1>Welcome</h1>
		
		<form class="form" method="post" action="/login">
			<input type="text" id="username" placeholder="Username">
			<input type="password" id="password" placeholder="Password">
			<button type="submit" id="login-button">Login</button>
		</form>
    	<span id="error" class="error">&nbsp;</span>
	</div>
	
	<ul class="bg-bubbles">
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
	</ul>
</div>
  <script src='/assets/js/jquery-3.6.4.min.js'></script><script  src="/assets/js/login.js"></script>
</body>
</html>
